<div class="products--grid">
  <app-product
    [product]="product"
    *ngFor="let product of products"
    (addedProduct)="onAddToShoppingCart($event)"
    (showProduct)="onShowDetail($event)"
  ></app-product>
</div>
<!-- <button (click)="onLoadMore()">Load more</button> -->


<div class="product-detail" [class.active]="showProductDetail">
  <div *ngIf="productChosen">
    <button class="product-detail--closeBtn" (click)="toggleProductDetail()"><img src="../../../../assets/images/icon_close copy 4.png" alt=""></button>
    <swiper
    [slidesPerView]="1"
    [spaceBetween]="15"
    class="product-detail--image"
    >
    <ng-template swiperSlide *ngFor="let img of productChosen.images">
      <img class="product-detail--image" [src]="img" alt="">
    </ng-template>
  </swiper>
  <div class="product-detail--information">
    <h1 class="product-detail--price">{{ productChosen.price | currency }}</h1>
    <h2 class="product-detail--title">{{ productChosen.title }}</h2>
    <p class="product-detail--description">{{ productChosen.description }}</p>
    <!-- <button (click)="updateProduct()">Edit</button>
    <button (click)="deleteProduct()">delete</button> -->
  </div>
</div>
</div>
