<div class="page-product">
  <button class="goToBack" (click)="goToBack()">Back</button>
  <div class="detail" *ngIf="product">
    <div class="gallery">
      <swiper
      [slidesPerView]="1"
      (swiper)="onSwiper($event)"
      (slideChange)="onSlideChange()"
      [navigation]="true"
      [pagination]="{ clickable: true }"
      [scrollbar]="{ draggable: true }"
    >
      <ng-template swiperSlide *ngFor="let img of product?.images">
        <img [src]="img" alt="img" />
      </ng-template>
    </swiper>
    </div>
    <div class="product-detail">
      <div class="product-info">
        <h3>{{ product.category?.name }}</h3>
        <h1>{{ product?.title }}</h1>
        <p>{{ product?.description }}</p>
        <h2>{{ product?.price | currency }}</h2>
      </div>
      <button class="addToCard" (click)="onAddToShoppingCart(product)">Add to Card</button>
    </div>
  </div>
</div>
