.profile {
  margin: 0 30%;
}

h1 {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 3em;
  line-height: 1;
}

p {
  margin-bottom: 10px;
}

button {
  margin-top: 20px;
  background: #ACD9B2;
  color: white;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  height: 30px;
  cursor: pointer;
}
button:hover {
  border:1px solid #ACD9B2;
  background-color: white;
  color: #ACD9B2;
  border-radius: 5px;
}
